footer::before {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-image: linear-gradient(90deg, #02436F 40.19%, #73C50C 70.63%);
}

.divFooterContent{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.divFooterContent a{
 color: #02436F; 
}

.divFooterBloco{
  padding: 3%;
}

.divFooterQuote{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
}