@charset "UTF-8";

@media (max-width: 426px) {
    /* Celular Grande */
    .footer-info{
        flex-wrap: wrap;
    }
    .divRede-social{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .direitos {
        display: flex;
        font-size: 16px;
        justify-content: end;
        text-align: center;
        /* padding-right: 40px; */
        color: #464646;
      }
  }
@media (min-width: 427px) and (max-width: 665px){
    .footer-info{
       align-items: start;
       
    }


    .divRede-social{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media (min-width: 666px) and (max-width: 736px){
    .divRede-social{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (min-width: 737px) and (max-width: 1024px){
    .divRede-social{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (min-width: 1025px){
    .divRede-social{
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: space-around;
    }
}