@media (max-width: 425px){
    .divFooterBloco{
        width: 200px;
    }

    .divFooterQuote {
        justify-content: center;
    }
    .divFooterQuote span{
        width: 300px;
        
      }
}

@media (min-width: 427px) and (max-width: 665px){
    .divFooterBloco{
        width: 200px;
    }
    

}

@media (min-width: 666px) and (max-width: 736px){}

@media (min-width: 737px) and (max-width: 1024px){}

@media (min-width: 2025px){}