/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
 #map {
    height: 100%;
  }
  
  /*
   * Optional: Makes the sample page fill the window.
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .textMapNaz{
    margin: 60px 0;
  }
  .textMapNaz h1{

    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    width: 22ch;
    text-align: center;
  }
  .textMapNaz p{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 70ch;
  }

  .outrosPostos{
    padding-top: 60px;
  }
  .outrosPostos h3{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    width: 22ch;
    text-align: center;
  }